.mobileNavContainer {
  position: absolute;
  
}

.TopBar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  width: 100vw;
  position: fixed;
  padding: 0 20px 0 20px;
  top: 0;
  z-index: 3;
}

.mobileNavMenu-closed {
  position: fixed;
  height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: #d0d4d3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: ease-out 250ms;
  
}

.mobileNavMenu-open {
  position: fixed;
  height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: #ced8d6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: ease 250ms;
  
}



.mobile-nav-link-holder-closed {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  padding-left: 15%;
  gap: 20px;
  font-size: 30px;
  transition: ease-out 250ms;
  
}

.mobile-nav-link-holder-open {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  opacity: 1;
  visibility: visible;
  padding-left: 15%;
  gap: 20px;
  font-size: 30px;
  transition: ease-in 150ms;
  
}

.mobile-nav-link-holder-open > * {
  color: black;
  text-decoration: none;
  
  
}

.mobile-nav-link-holder-closed > * {
  color: black;
  text-decoration: none;
  
}

.mobile-logo-container > * {
  font-size: 1.5rem;
  font-family: "Gugi", cursive;
  cursor: pointer;
  color: black;
  text-decoration: none;
 
}

.mobile-logo-container:hover > * {
  color: white;
}

.mobile-burger-container {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}

.mobile-burger-container:hover {
  color: white;
  fill: white;
  cursor: pointer;
  stroke: white;
}

.mobileContact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(238, 85, 85);
  border: 1px solid rgba(0, 0, 0, 0.452);
  padding: 5px 20px 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    
}

.cross-styles {
  padding: 2px;
}
.burger-styles {
  padding: 1px;
}

@media screen and (max-width: 450px) {
  .mobile-nav-link-holder {
    padding-left: 10%;
  }
}
